include start

span(style="display: none;" id="data") #{students}
if msg 
  h3 Message:
  p #{msg}


form(action="/" method="GET")#auswahl
  span klasse
  input(name="klasse" value=`${cls}`)

ul#list

div#new
  h3 New Student
  form(action="/" method="POST")
    span FirstName
    br
    input(name="firstName" value="")
    br
    br
    span SirName
    br
    input(name="sirName" value="")
    br
    br
    span Class
    br
    input(name="cls" value="")
    br
    br
    span Direction
    br
    input(name="dir" value="")
    br
    br
    input(type="submit" value="submit")

    input(name="type" value="new" style="display: none")

include end