doctype html

html(dir="ltr")
  head
    link(rel='stylesheet' href='/css/'+ name.toLowerCase() +'.css')

    script(type="text/javascript" src='/js/'+ name.toLowerCase() +'.js')
    title Schülerverwaltung #{name}